.mainButton {
  width: 238px;
  height: 48px;
  background-color: #EFEFEF;
  border-radius: 100px;
  text-transform: uppercase;
  font-family: "DIN Pro";
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 29px;
  position: absolute;
  bottom: 20px;
  left: calc(50% - 119px);
  font-family: $mainFont;
}
