ion-slides {
  height: 97vh;
}

.home__artworkButton--notClickable {
  background-color: #FFFFFF;
  opacity: 0.3;
  color: #009358;
}

.landingScreen__title {
  width: 231px;
  font-family: $secondFont;
  font-size: 57px;
  text-align: center;
  line-height: 84px;
  color: #000000;
  position: absolute;
  top: 120px;
  left: calc(50% - 115.5px);
  text-transform: uppercase;
}

.landingScreen__subtitle {
  width: 240px;
  font-family: "DIN Pro Cond";
  font-size: 24px;
  text-align: center;
  line-height: 28px;
  position: absolute;
  left: calc(50% - 120px);
  color: #000000;
  top: 390px;
}


.home__title {
  width: 100%;
  font-family: $mainFont;
  font-size: 20px;
  text-align: center;
  line-height: 24px;
  color: #FFFFFF;
  top: 33px;
  position: fixed;
  z-index: 2;
}

.home__artworks {
  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;
}
.home__artworks--first {
  background-image: url('../assets/img/artwork_ikb_bg.png');
}
.home__artworks--second {
  background-image: url('../assets/img/artwork_barnett_bg.png');
}
.home__artworks--third {
  background-image: url('../assets/img/artwork_green_bg.png');
}

.home__artworkName {
  width: 273px;
  left: calc(50% - 136.5px);
  position: absolute;
  font-family: "Dry Brush";
  font-size: 70px;
  text-align: center;
  line-height: 98px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.home__artworkName--narrow {
  width: 130px;
  left: calc(50% - 65px);
}

.home__artworkName--bottom {
  color: #282575;
}

.home__artworkCard {
  margin-top: 100px;
}

.home__artworkButton {
  width: 238px;
  height: 50px;
  border-radius: 4px;
  border: solid thin #FFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
  text-transform: uppercase;
  font-family: $mainFont;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 29px;
  position: absolute;
  bottom: 20px;
  left: calc(50% - 119px);
  background-color: #FFF;
  color: $mainColor;
}

.home__artworkButton--secondColor {
  color: $secondColor;
}

.swiper-pagination {
  margin-bottom: 60px;
}
.swiper-pagination-bullet {
  background: #FFF;
  opacity: 0.5;
}
.swiper-pagination-bullet-active {
  opacity: 1;
}
