.firstScreenNewman .mainButton,
.secondScreenNewman .mainButton,
.fourthScreenNewman .mainButton{
  color: $secondColor;
  background: #FFF;
}

.thirdScreenNewman .mainButton,
.fifthScreenNewman .mainButton,
.sixthScreenNewman .mainButton{
  background: $secondColor;
  color: #FFF;
}

.fifthScreenNewman .mainButton{
  bottom: 30px;
  position: relative;
  left: 0;
}
