canvas {
  background-image: url('../assets/img/artwork_barnett_canvas.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

signature-pad.newman {
  left: 0;
  margin-top: 80px;
}

.thirdScreenNewman__bottom {
  margin-top: 330px;
}
