.goHome {
  position: absolute;
  right: 15px;
  top: 40px;
  z-index: 2;
}

.customAlert {

  .alert-wrapper {
    border-radius: 3px;
  }

  .alert-title{
    color: $mainColor;
    text-transform: uppercase;
    font-size: 31px;
    text-align: center;
    font-weight: 500;
    font-family: $mainFont;
  }

  .alert-button-group {
    width: 90%;
    margin: 0 auto 20px auto;
  }

  .customAlert__buttons {
    width: 100%;
    margin: 5px auto 5px auto;
    text-align: center;
    color: $mainColor;
    border: 2px solid #281D70;
    border-radius: 100px;
  }

  .customAlert__buttons--no {
    color: #FFF;
    background: $mainColor;
  }

  .customAlert__buttons .button-inner {
    justify-content: center;
    font-family: $mainFont;
    font-size: 24px;
    text-align: center;
    line-height: 29px;
    text-transform: uppercase;
    font-weight: 700;
  }

}
