.mainButton {
  width: 238px;
  height: 55px;
  background-color: transparent;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 29px;
  position: absolute;
  bottom: 20px;
  left: calc(50% - 119px);
  font-family: $mainFont;
  color: $mainColor;
}

.firstScreenKlein .mainButton,
.beforeSecondScreenKlein .mainButton,
.eightScreenKlein .mainButton{
  background-color: #FFF;
  color: $mainColor;
}
