.linesChoices {
  width: 300px;
  height: 60px;
  margin: 0 0 0 70px;
  text-align: left;
  font-family: $mainFont;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding: 6px 0px 0 80px;
  cursor: pointer;
  font-family: $mainFont;
  font-size: 26px;
  line-height: 35px;
  color: #000000;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border-radius: 50%;
  border: 2px solid $mainColor;
  box-sizing: border-box;
  width: 42px;
  height: 42px;
  transition: all .2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  position: absolute;
  opacity: 0;
  transition: all .2s;
  width: 81px;
  height: 51px;
  left: -20px;
  top: 2px;
}

[type="checkbox"]:checked + label:after {
  position: absolute;
  transition: all .2s;
  width: 81px;
  height: 51px;
  left: -20px;
  top: 2px;
  content: '';
  background-image: url('../assets/img/checked.png');
  transition: all .2s;
  opacity: 1;
}
