ion-slide {
  position: relative;
  font-family: $mainFont;
  color: $mainColor;
}

.firstScreenKlein,
.beforeSecondScreenKlein,
.sixthScreenKlein,
.eightScreenKlein {
  background-color: #231b63;
}
.secondScreenKlein {
  background-color: #EFEFEF;
}

ion-icon.sixthScreenKlein__icon {
  font-size: 150px;
  color: #FFF;
}

.seventhScreenKlein__imgContainer {
  width: 375px;
  height: 350px;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.swiper-slide img.seventhScreenKlein__img {
  width: 375px;
  height: auto;
}

.seventhScreenKlein__text {
  width: 290px;
  font-family: $mainFont;
  font-size: 28px;
  text-align: center;
  line-height: 32px;
  color: #000000;
  text-transform: uppercase;
  margin: 320px auto 0 auto;

  .bigger {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
  }

  .bold {
    font-weight: 700;
  }

}
