.mainTitle {
  width: 270px;
  font-size: 66px;
  font-weight: 500;
  text-align: center;
  line-height: 78px;
  color: $mainColor;
  margin: auto;
  text-transform: uppercase;
}

.mainTitle--white {
  color: #FFF;
}

.topTitleBrush {
  position: absolute;
  top: 20px;
  width: 100%;
  height: 40px;
  font-family: $secondFont;
  font-size: 31px;
  text-align: center;
  line-height: 40px;
  color: $mainColor;

  &.topTitleBrush--white {
    color: #FFF
  }
}

.topTitle {
  position: absolute;
  font-family: $mainFont;
  top: 20px;
  height: 70px;
  width: 235px;
  left: calc(50% - 117.5px);
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  line-height: 24px;
  color: #000;
}

.firstScreenKlein .topTitle {
  font-size: 25px;
  text-align: center;
  line-height: 29px;
  color: #FFFFFF;
  padding: 0 40px;
}

.subtitle {
  font-family: $mainFont;
  width: 314px;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  line-height: 43px;
  margin: 50px auto 0 auto;;
  color: #FFF;
  z-index: 1;
}

.subtitle--black {
  color: #000;
}

.sixthScreenKlein__instructions {
  color: #FFF;
}
